.schedule{
    margin-top: 50px;
}

.a1{
    border-style: double;
    background-color: black;
    color: white;
    margin-left: 15px;
    font-size: 20px;     
}

.b{
    border-style: solid;
    background-color: black;
    color: white;
    margin-left: 10px;
    font-size: 20px;     
}

.c{
    border-style: solid;
    background-color: black;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;     
}

.d{
    border-style: solid;
    background-color: black;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;     
}